body
{
	background-color: #8ca3a0;
	color: lightgrey;
	font-family: 'Lato', sans-serif;

}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #404040;
}

#logo 
{
	color: white;
	margin-top: 20px;
	font-size: 40px; 
	letter-spacing: 3px;
	font-weight: 900;
}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px; 
}

#topbar
{
	background-color: #bac14f;
	color: white;
	padding: 10px;
	margin-top:20px;
	margin-bottom: 25px;
	height: 200px;
}

#topbarL
{
	float:left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted black;

}

#topbarR
{
	float:left;
	
	padding: 20px;
	width: 746px;
	font-size: 16px;
	line-height: 26px;
	text-align: justify;
}
#sidebar
{
	float:left;
	width:148px;
	min-height: 620px;
	padding: 20px;
	background-color: #686562;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted black;
}

#content
{
	float:left;
	padding:22px;
	width: 765px;
	background-color: #7a7673;
	min-height: 615px;
	text-align: justify;
}

#footer
{
	clear: both;
	text-align: center;
	color: white;
	padding: 20px;
	font-size: 15px;
	
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted black;
	opacity: 0.7; 
}

.option:hover
{
	background-color: black; 
	cursor: pointer;
}

.optionL 
{
font-size: 18px;
 height: 25px;
 padding: 10px;
 border-bottom: 2px dotted black;
}


.optionL:hover
{
	background-color: #d1592e;
	color: white;
	cursor: pointer;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
	color: black;
	
}
.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted black;
	
	
}